@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
  --background: #fffdf5;
  --primary_color: #c1e6ff;
  --secondary_color: #d4dba9;
  --glow_pink: #ffebf9;
}

body {
  font-family: "Quicksand", sans-serif;
}

.bg-secondary {
  background: var(--secondary_color);
}

.image-next,
.image-prev {
  position: relative;
  width: 10%;
  height: 100%;
}

.image-prev:hover div {
  background: radial-gradient(
    96.33% 47.45% at 96.33% 50.14%,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transform: rotate(-180deg);
  filter: blur(4px);
}

.image-next:hover div {
  background: radial-gradient(
    96.33% 47.45% at 96.33% 50.14%,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: blur(4px);
}

.image-next ion-icon,
.image-prev ion-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-tool {
  display: flex;
  flex-direction: column;
  width: 13em;
  height: 13em;
  border-radius: 50%;
  padding: 2em;
  background-color: #fff;
  align-items: center;
  justify-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.icon-item-tool {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
